.app {
  display: grid;
  grid-template:
    "nav header" min-content
    "nav main" 1fr / min-content 1fr;
}

.side-nav {
  grid-area: nav;
  background: white;
  height: 100vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    flex: 1;
  }
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
