.app {
  display: grid;
  grid-template:
    "nav header" min-content
    "nav main" 1fr / min-content 1fr;
}

.side-nav {
  grid-area: nav;
  background: gray;
  height: 100vh;
  width: 90px;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
