@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "app";
@import "liability";
@import "trans-list";

//Base styles
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(248, 248, 248);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//Base Style end

//Page Styles

.page {
  padding: 1rem;
}
